{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "assert": false,
    "d3": false,
    "LocusZoom": false,
    "Promise": false,
    "should": false,
    "sinon": false
  }
}
