{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    [
      "module-resolver", {
         "alias": {
           "locuszoom": "./esm/index.js"
         }
      }
    ]
  ]
}
