{
    "extends": "eslint:recommended",
    "rules": {
        "arrow-parens": "error",
        "brace-style": "error",
        "comma-dangle": ["warn", "only-multiline"],
        "comma-spacing": "warn",
        "curly": "error",
        "eol-last": "error",
        "eqeqeq": [
            2,
            "smart"
        ],
        "indent": [
            2,
            4,
            {
                "FunctionExpression": { "parameters": "first" },
                "CallExpression": { "arguments": "first" }
            }
        ],
        "keyword-spacing": "warn",
        "linebreak-style": [
            2,
            "unix"
        ],
        "no-console": "off",
        "no-trailing-spaces": "error",
        "no-unused-vars": [
            "error",
            { "args": "none" }
        ],
        "prefer-template": "error",
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "semi": [
            2,
            "always"
        ],
        "space-before-blocks": "error",
        "space-infix-ops": "error"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module"
    }
}
