{
    "rules": {
        "indent": [
            2,
            4,
            {
                "FunctionExpression": { "parameters": "first" },
                "CallExpression": { "arguments": "first" }
            }
        ],
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "eqeqeq": [
            2,
            "smart"
        ],
        "no-unused-vars": [
            1,
            { "args": "none" }
        ]
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}
