svg.locuszoom {
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: move;
    font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
    font-size: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

circle.position {
  stroke: #181818;
  stroke-width: 1;
}

circle.position:hover {
  stroke: #484848;
  stroke-width: 3;
}

circle.position.selected {
  stroke-width: 4;
}

circle.position.selected:hover {
  stroke-width: 4;
}

text.gene.label {
  font-style: italic;
}

rect.gene.boundary {
    stroke: #000099;
    stroke-width: 1;
}

rect.gene.exon {
    stroke: #000099;
    stroke-width: 1;
}