$namespace: "lz";
$default_black: "rgba(24, 24, 24, 1)";
$default_black_shadow: "rgba(24, 24, 24, 0.4)";
$tooltip_arrow_width: "7";

svg.#{$namespace}-locuszoom {

  background-color: #FFFFFF;
  border: none;
  cursor: move;
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 10px;

  rect.#{$namespace}-clickarea {
    fill: rgb(0,0,0);
    fill-opacity: 0;
  }

  .#{$namespace}-mouse_guide {
    rect {
      fill: rgb(210,210,210);
      fill-opacity: 0.85;
    }
    rect.#{$namespace}-mouse_guide-vertical {
      width: 1px;
      height: 100%;
    }
    rect.#{$namespace}-mouse_guide-horizontal {
      width: 100%;
      height: 1px;
    }
  }

  .#{$namespace}-html_module-info_box {
    position: absolute;
    border: 1px solid #{$default_black};
    border-radius: 3px;
  }

  .#{$namespace}-ui-resize_handle {
    fill: rgb(210,210,210);
    fill-opacity: 0.4;
    stroke: rgb(45,45,45);
    stroke-opacity: 0.4;
    stroke-width: 1;
    cursor: nwse-resize;
    stroke-linejoin: round;
  }

  .#{$namespace}-ui-resize_handle:hover {
    fill: rgb(210,210,210);
    fill-opacity: 1;
    stroke: rgb(45,45,45);
    stroke-opacity: 1;
    stroke-width: 2;
    stroke-linejoin: round;
  }

  .#{$namespace}-ui-resize_handle_dragging {
    fill: rgb(210,210,210);
    fill-opacity: 1;
    stroke: rgb(45,45,45);
    stroke-opacity: 1;
    stroke-width: 2;
    cursor: nwse-resize;
    stroke-linejoin: round;
  }

  .#{$namespace}-panel-title {
    font-size: 18px;
    font-weight: 600;
  }

  .#{$namespace}-axis path,
  .#{$namespace}-axis line {
  	fill: none;
  	stroke: black;
  	shape-rendering: crispEdges;
  }

  .#{$namespace}-axis .#{$namespace}-label {
    font-size: 12px;
    font-weight: 600;
  }

  path.#{$namespace}-data_layer-scatter {
    stroke: #{$default_black_shadow};
    stroke-width: 1;
    cursor: pointer;
  }

  path.#{$namespace}-data_layer-scatter-highlighted {
    stroke: #{$default_black_shadow};
    stroke-width: 4;
  }

  path.#{$namespace}-data_layer-scatter-selected {
    stroke: #{$default_black};
    stroke-width: 4;
  }

  text.#{$namespace}-data_layer-scatter-label {
    fill: #{$default_black};
    alignment-baseline: middle;
  }

  line.#{$namespace}-data_layer-scatter-label {
    stroke: #{$default_black};
    stroke-width: 1px;
  }

  path.#{$namespace}-data_layer-line {
    stroke: #{$default_black};
    stroke-width: 1;
    cursor: pointer;
  }

  path.#{$namespace}-data_layer-line-hitarea {
    fill: none;
    stroke: none;
    cursor: pointer;
  }

  g.#{$namespace}-data_layer-gene {
    cursor: pointer;
  }

  text.#{$namespace}-data_layer-genes.#{$namespace}-label {
    font-style: italic;
  }

  rect.#{$namespace}-data_layer-genes.#{$namespace}-data_layer-genes-bounding_box {
    fill: rgb(54, 54, 150);
    fill-opacity: 0;
    stroke-width: 0;
  }

  rect.#{$namespace}-data_layer-genes.#{$namespace}-data_layer-genes-bounding_box-highlighted {
    fill: rgb(54, 54, 150);
    fill-opacity: 0.1;
    stroke-width: 0;
  }

  rect.#{$namespace}-data_layer-genes.#{$namespace}-data_layer-genes-bounding_box-selected {
    fill: rgb(54, 54, 150);
    fill-opacity: 0.15;
    stroke: #{$default_black};
    stroke-width: 1;
  }

  rect.#{$namespace}-data_layer-genes.#{$namespace}-boundary {
    stroke: rgb(54, 54, 150);
    stroke-opacity: 1;
    stroke-width: 1;
    fill: #000099;
  }

  rect.#{$namespace}-data_layer-genes.#{$namespace}-exon {
    stroke: rgb(54, 54, 150);
    stroke-opacity: 1;
    stroke-width: 1;
    fill: #000099;
  }

}

div.#{$namespace}-data_layer-tooltip {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 12px;
  position: absolute;
  padding: 6px;
  background: rgba(235,235,235,1);
  border: 1px solid #{$default_black};
  border-radius: 4px;
  box-shadow: 2px 2px 2px #{$default_black_shadow};

  h6 { font-size: 110%; margin-top: 0.1em; margin-bottom: 0.1em; padding: 0; }
  h5 { font-size: 125%; margin-top: 0.1em; margin-bottom: 0.1em; padding: 0; }
  h4 { font-size: 150%; margin-top: 0.2em; margin-bottom: 0.2em; padding: 0; }
  h3 { font-size: 175%; margin-top: 0.2em; margin-bottom: 0.2em; padding: 0; }
  h2 { font-size: 200%; margin-top: 0.3em; margin-bottom: 0.3em; padding: 0; }
  h1 { font-size: 250%; margin-top: 0.3em; margin-bottom: 0.3em; padding: 0; }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 0.2em;
  }
  th:first-child, td:first-child {
    padding-left: 0px;
  }
  th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
  }

  .#{$namespace}-tooltip-close-button {
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: rgba(235,235,235,0.4);
    color: #{$default_black_shadow};
    border: 1px solid #{$default_black_shadow};
    border-radius: 4px;
    pointer-events: auto;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  .#{$namespace}-tooltip-close-button:hover {
    cursor: pointer;
    background-color: #{$default_black};
    color: rgba(235,235,235,1);
  }
  
}

div.#{$namespace}-data_layer-tooltip-arrow_up {
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_down {
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_right {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_left {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid #{$default_black}; 
}

div.#{$namespace}-data_layer-tooltip-arrow_top_left {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
}

div.#{$namespace}-data_layer-tooltip-arrow_top_right {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_bottom_left {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
  border-right: #{$tooltip_arrow_width}px solid transparent;
}

div.#{$namespace}-data_layer-tooltip-arrow_bottom_right {
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
  border-right: #{$tooltip_arrow_width}px solid #{$default_black};
}

.#{$namespace}-container {
  display: inline-block;
  overflow: hidden;
}

.#{$namespace}-container-responsive {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.#{$namespace}-curtain {
  
  position: absolute;
  font-size: 2em;
  font-weight: 600;
  background: rgba(216,216,216,0.8);

  .#{$namespace}-curtain-content {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 0px 20px;
    overflow-y: auto;
  }

  .#{$namespace}-curtain-dismiss {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.15em 0.5em;
    font-size: 0.3em;
    font-weight: 300;
    background-color: #D8D8D8;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 0px 0px 0px 4px;
    pointer-events: auto;
    cursor: pointer;
  }

  .#{$namespace}-curtain-dismiss:hover {
    background-color: #333333;
    color: #D8D8D8;
  }
  
}

.#{$namespace}-loader {

  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 12px;
  padding: 6px;
  background: rgba(240,235,228,1);
  border: 1px solid #{$default_black};
  border-radius: 4px;
  box-shadow: 2px 2px 2px #{$default_black_shadow};

  .#{$namespace}-loader-content {
    position: relative;
    display: block;
    width: 100%;
  }

  .#{$namespace}-loader-cancel {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 2px 4px;
    font-size: 9px;
    font-weight: 300;
    background-color: #D8D8D8;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 0px 4px 0px 4px;
    pointer-events: auto;
    cursor: pointer;
  }

  .#{$namespace}-loader-cancel:hover {
    background-color: #333333;
    color: #D8D8D8;
  }

  .#{$namespace}-loader-progress-container {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    padding-top: 6px;
  }

  .#{$namespace}-loader-progress {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: #{$default_black_shadow};
  }

  .#{$namespace}-loader-progress-animated {
    animation-name: #{$namespace}-loader-animate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  } 
  
}

@keyframes #{$namespace}-loader-animate {
  0%   { width: 0%;   left: 0%;   }
  50%  { width: 100%; left: 0%;   }
  100% { width: 0%;   left: 100%; }
}

.#{$namespace}-locuszoom-controls {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  .#{$namespace}-controls-info {
    margin-left: 2em;
  }
  .#{$namespace}-controls-button {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #D8D8D8;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    pointer-events: auto;
  }
  .#{$namespace}-controls-button:hover {
    cursor: pointer;
    background-color: #333333;
    color: #D8D8D8;
  }
  .#{$namespace}-controls-button-selected {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: 1px solid #333333;
    border-radius: 4px;
    pointer-events: auto;
    cursor: pointer;
    background-color: #333333;
    color: #D8D8D8;
  }
  .#{$namespace}-controls-button-disabled {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #D8D8D8;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 4px;
    pointer-events: none;
  }
  .#{$namespace}-controls-button-disabled:hover {
    cursor: wait;
    background-color: #D8D8D8;
  }
}

.#{$namespace}-locuszoom-panel-controls {
   padding-top: 6px;
   padding-right: 2px;
   .#{$namespace}-panel-controls-button {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: rgba(216,216,216,0.4);
    border: 1px solid rgba(51,51,51,0.4);
    color: rgba(51,51,51,0.4);
    border-radius: 4px;
    pointer-events: auto;
  }
  .#{$namespace}-panel-controls-button:hover {
    cursor: pointer;
    background-color: rgba(216,216,216,1);
    border: 1px solid rgba(51,51,51,1);
    color: rgba(51,51,51,1);
  }
  .#{$namespace}-panel-controls-button-selected {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: 1px solid rgba(51,51,51,1);
    border-radius: 4px;
    pointer-events: auto;
    cursor: pointer;
    background-color: rgba(51,51,51,1);
    color: rgba(216,216,216,1);
  }
  .#{$namespace}-panel-controls-button-disabled {
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: rgba(216,216,216,0.4);
    border: 1px solid rgba(153,153,153,0.4);
    color: rgba(153,153,153,0.4);
    border-radius: 4px;
    pointer-events: none;
    cursor: wait;
  }
}

div.#{$namespace}-panel-description {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 12px;
  position: absolute;
  padding: 6px;
  background: rgba(228,235,240,1);
  border: 1px solid #{$default_black};
  border-radius: 4px;
  box-shadow: 2px 2px 2px #{$default_black_shadow};
  overflow: hidden;

  .#{$namespace}-panel-description-content {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

}

div.#{$namespace}-panel-boundary {
  position: absolute;
  height: 3px;
  cursor: row-resize;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.#{$namespace}-panel-boundary span {
  display: block;
  border-radius: 1px;
  background: rgba(216,216,216,0);
  border: 1px solid rgba(216,216,216,0);
  height: 3px;
}

div.#{$namespace}-panel-boundary:hover span {
  background: rgba(216,216,216,1);
  border: 1px solid #{$default_black};
}

div.#{$namespace}-panel-boundary:active span {
  background: rgba(51,51,51,1);
  border: 1px solid rgba(216,216,216,1);
}
