$namespace: "lz";
$default_black: "rgba(24, 24, 24, 1)";
$default_black_shadow: "rgba(24, 24, 24, 0.4)";
$tooltip_arrow_width: "7";

svg.#{$namespace}-locuszoom {

  background-color: #FFFFFF;
  border: none;
  cursor: move;
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 10px;

  rect.#{$namespace}-clickarea {
    fill: transparent;
  }

  .#{$namespace}-curtain {
    rect {
      fill: rgba(210,210,210,0.85);
    }
    text, tspan {
      fill: rgb(0,0,0);
      font-weight: 600;
      font-size: 14px;
      text-anchor: start;
      alignment-baseline: hanging;
    }
    tspan.dismiss {
      fill: rgb(49,112,143);
      cursor: pointer;
    }
  }

  .#{$namespace}-mouse_guide {
    rect {
      fill: rgba(210,210,210,0.85);
    }
    rect.#{$namespace}-mouse_guide-vertical {
      width: 1px;
      height: 100%;
    }
    rect.#{$namespace}-mouse_guide-horizontal {
      width: 100%;
      height: 1px;
    }
  }

  .#{$namespace}-html_module-info_box {
    position: absolute;
    border: 1px solid #{$default_black};
    border-radius: 3px;
  }

  .#{$namespace}-ui-resize_handle {
    fill: rgba(210,210,210,0.85);
    stroke: rgba(45,45,45,0.85);
    stroke-width: 1;
    cursor: nwse-resize;
    stroke-linejoin: round;
  }

  .#{$namespace}-ui-resize_handle:hover {
    fill: rgba(210,210,210,1);
    stroke: rgba(45,45,45,1);
    stroke-width: 2;
    stroke-linejoin: round;
  }

  .#{$namespace}-ui-resize_handle_dragging {
    fill: rgba(210,210,210,1);
    stroke: rgba(45,45,45,1);
    stroke-width: 2;
    cursor: nwse-resize;
    stroke-linejoin: round;
  }

  .#{$namespace}-axis path,
  .#{$namespace}-axis line {
  	fill: none;
  	stroke: black;
  	shape-rendering: crispEdges;
  }

  .#{$namespace}-axis .#{$namespace}-label {
    font-size: 12px;
    font-weight: 600;
  }

  path.#{$namespace}-data_layer-scatter {
    stroke: #{$default_black};
    stroke-width: 1;
    cursor: pointer;
  }

  path.#{$namespace}-data_layer-scatter-hovered {
    stroke: #{$default_black};
    stroke-width: 3;
  }

  path.#{$namespace}-data_layer-scatter-selected {
    stroke: #{$default_black};
    stroke-width: 4;
  }

  path.#{$namespace}-data_layer-line {
    stroke: #{$default_black};
    stroke-width: 1;
    cursor: pointer;
  }

  path.#{$namespace}-data_layer-line-hitarea {
    stroke: transparent;
    stroke-width: 12px;
    cursor: pointer;
  }

  g.#{$namespace}-data_layer-gene {
    cursor: pointer;
  }

  text.#{$namespace}-data_layer-gene.#{$namespace}-label {
    font-style: italic;
  }

  rect.#{$namespace}-data_layer-gene.#{$namespace}-bounding_box {
    fill: transparent;
    stroke-width: 0;
  }

  rect.#{$namespace}-data_layer-gene.#{$namespace}-bounding_box-hovered {
    fill: rgba(54, 54, 150, 0.1);
    stroke-width: 0;
  }

  rect.#{$namespace}-data_layer-gene.#{$namespace}-bounding_box-selected {
    fill: rgba(54, 54, 150, 0.15);
    stroke: #{$default_black};
    stroke-width: 1;
  }

  rect.#{$namespace}-data_layer-gene.#{$namespace}-boundary {
    stroke: rgba(54, 54, 150, 1);
    stroke-width: 1;
    fill: #000099;
  }

  rect.#{$namespace}-data_layer-gene.#{$namespace}-exon {
    stroke: rgba(54, 54, 150, 1);
    stroke-width: 1;
    fill: #000099;
  }

}

div.#{$namespace}-data_layer-tooltip {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 12px;
  position: absolute;
  padding: 6px;
  background: rgba(235,235,235,1);
  border: 1px solid #{$default_black};
  border-radius: 4px;
  box-shadow: 2px 2px 2px #{$default_black_shadow};
}

div.#{$namespace}-data_layer-tooltip-arrow_up {
  width: 0; 
  height: 0; 
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_down {
  width: 0; 
  height: 0; 
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_right {
  width: 0; 
  height: 0; 
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_left {
  width: 0; 
  height: 0; 
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid #{$default_black}; 
}

div.#{$namespace}-data_layer-tooltip-arrow_top_left {
  width: 0; 
  height: 0;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid transparent;
}

div.#{$namespace}-data_layer-tooltip-arrow_top_right {
  width: 0; 
  height: 0;
  border-top: #{$tooltip_arrow_width}px solid #{$default_black};
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid transparent;
  border-right: #{$tooltip_arrow_width}px solid #{$default_black};
}

div.#{$namespace}-data_layer-tooltip-arrow_bottom_left {
  width: 0; 
  height: 0;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid #{$default_black};
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
  border-right: #{$tooltip_arrow_width}px solid transparent;
}

div.#{$namespace}-data_layer-tooltip-arrow_bottom_right {
  width: 0; 
  height: 0;
  border-top: #{$tooltip_arrow_width}px solid transparent;
  border-left: #{$tooltip_arrow_width}px solid transparent;
  border-bottom: #{$tooltip_arrow_width}px solid #{$default_black};
  border-right: #{$tooltip_arrow_width}px solid #{$default_black};
}

.#{$namespace}-container {
  display: inline-block;
  overflow: hidden;
}

.#{$namespace}-container-responsive {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

