svg {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.rule line {stroke: #eee}
