svg.locuszoom {
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: move;
    font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
    font-size: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.rule line {stroke: #eee}

circle.position {
  stroke: #181818;
  stroke-width: 1;
}

circle.position:hover {
  stroke: #484848;
  stroke-width: 3;
}